.h-no-padding-top {
	padding-top: 0!important;
}

.hydrogen-permission-denied .m-error_container {
	height: 650px;
}

.m-error-1 .m-error_container .m-error_number>h1 {
	margin-top: 0;
	margin-left: 0;
}
.hidden {
	display: none!important;
}
.rv-media-header .rv-media-top-header {
	padding-left: 0;
	padding-right: 0;
}

.rv-media-container .rv-modals .modal.fade.show .modal-dialog {
	opacity: 1;
	filter: alpha(opacity=100);
	-webkit-transform: scale(1);
	transform: scale(1);
}
.rv-media-tools .dropdown-menu {
	min-width: 18em;
}
.no-margin-bottom {
	margin-bottom: 0px!important;
}

.hydrogen-page-preview img {
	width: 100%;
}
.btn-link.btn-link-remove {
	color: #f4516c;
}
.hydrogen-menu-title {
	border-right: 1px solid #f2f3f8;
}
.hydrogen-menu-title .nav.nav-pills .nav-item {
	margin-left: 0;
}



/**
 * Nestable
 */

.dd { position: relative; display: block; margin: 0; padding: 0; max-width: 600px; list-style: none; font-size: 13px; line-height: 20px; }

.dd-list { display: block; position: relative; margin: 0; padding: 0; list-style: none; }
.dd-list .dd-list { padding-left: 30px; }
.dd-collapsed .dd-list { display: none; }

.dd-item,
.dd-empty,
.dd-placeholder { display: block; position: relative; margin: 0; padding: 0; min-height: 20px; font-size: 13px; line-height: 20px; }

.dd-handle
{
	display: block;
	margin: 5px 0;
	padding: 30px;
	color: #333;
	text-decoration: none;
	font-weight: bold;
	border: 1px solid #ccc;
	background: #fafafa;
	background: -webkit-linear-gradient(top, #fafafa 0%, #eee 100%);
	background:    -moz-linear-gradient(top, #fafafa 0%, #eee 100%);
	background:         linear-gradient(top, #fafafa 0%, #eee 100%);
	-webkit-border-radius: 3px;
	border-radius: 3px;
	box-sizing: border-box; -moz-box-sizing: border-box;
}
.dd-handle:hover { color: #2ea8e5; background: #fff; }

.dd-item > button { display: block; position: relative; cursor: pointer; float: left; width: 25px; height: 20px; margin: 5px 0; padding: 0; text-indent: 100%; white-space: nowrap; overflow: hidden; border: 0; background: transparent; font-size: 12px; line-height: 1; text-align: center; font-weight: bold; }
.dd-item > button:before { content: '+'; display: block; position: absolute; width: 100%; text-align: center; text-indent: 0; }
.dd-item > button[data-action="collapse"]:before { content: '-'; }

.dd-placeholder,
.dd-empty { margin: 5px 0; padding: 0; min-height: 30px; background: #f2fbff; border: 1px dashed #b6bcbf; box-sizing: border-box; -moz-box-sizing: border-box; }
.dd-empty { border: 1px dashed #bbb; min-height: 100px; background-color: #e5e5e5;
	background-image: -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff),
	-webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
	background-image:    -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff),
	-moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
	background-image:         linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff),
	linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
	background-size: 60px 60px;
	background-position: 0 0, 30px 30px;
}

.dd-dragel { position: absolute; pointer-events: none; z-index: 9999; }
.dd-dragel > .dd-item .dd-handle { margin-top: 0; }
.dd-dragel .dd-handle {
	-webkit-box-shadow: 2px 4px 6px 0 rgba(0,0,0,.1);
	box-shadow: 2px 4px 6px 0 rgba(0,0,0,.1);
}

.dd-remove {
	position: relative;
	left: 30px;
	top: -30px;
}

/**
 * Nestable Extras
 */

.nestable-lists { display: block; clear: both; padding: 30px 0; width: 100%; border: 0; border-top: 2px solid #ddd; border-bottom: 2px solid #ddd; }

#nestable-menu { padding: 0; margin: 20px 0; }

#nestable-output,
#nestable2-output { width: 100%; height: 7em; font-size: 0.75em; line-height: 1.333333em; font-family: Consolas, monospace; padding: 5px; box-sizing: border-box; -moz-box-sizing: border-box; }

#nestable2 .dd-handle {
	color: #fff;
	border: 1px solid #999;
	background: #bbb;
	background: -webkit-linear-gradient(top, #bbb 0%, #999 100%);
	background:    -moz-linear-gradient(top, #bbb 0%, #999 100%);
	background:         linear-gradient(top, #bbb 0%, #999 100%);
}
#nestable2 .dd-handle:hover { background: #bbb; }
#nestable2 .dd-item > button:before { color: #fff; }

@media only screen and (min-width: 700px) {

	.dd { float: left; width: 70%;; }
	.dd + .dd { margin-left: 2%; }

}

.dd-hover > .dd-handle { background: #2ea8e5 !important; }


/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
	.rv-media-header .rv-media-top-header .rv-media-actions .lblbtn {
		display: none;
	}

	.rv-media-header .rv-media-top-header .rv-media-search input {
		width: 150px;
	}

	.rv-media-container .rv-media-wrapper {
		min-width: 650px;
	}

	.js-rv-media-filter-current i {
		display: none;
	}

	.modal-dialog.modal-full {
		max-width: 95%;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
	.rv-media-container .rv-media-wrapper {
		min-width: 615px;
	}
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	.js-rv-media-filter-current i {
		display: inline-block;
	}
	.rv-media-container .rv-media-wrapper {
		min-width: 650px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	.modal-dialog.modal-full {
		max-width: 80%;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	.rv-media-header .rv-media-top-header .rv-media-search input {
		width: 250px;
	}
	.modal-dialog.modal-full {
		max-width: 70%;
	}

}



@media only screen and (min-width : 1300px) {
	.rv-media-header .rv-media-top-header .rv-media-actions .lblbtn {
		display: inline-block;
	}
}

.dd-delete
{
	position: relative;
	left: 70px;
	top: -30px;
}

#load-ext .tmvn ul, #load-ext .tmqt ul
{
	list-style: none;
}

#load-ext .tmvn ul input, #load-ext .tmqt ul input
{
	margin-right: 5px;
}

.custom-input
{
	display: inline-block;
	max-width: 85% !important;
}

.product-meida ul {
	list-style-type: none;
	padding: 0;
}

.product-meida ul li {
	display: inline-block;
	width: 100px;
	position: relative;
	margin: 10px 10px 0 0;
}

.product-meida ul li a {
	position: absolute;
	right: 1px;
	top: 1px;
}

.product-meida ul li img {
	max-width: 100%;
}

.bootstrap-select.btn-group .dropdown-menu
{
	width: 150px;
}

.dd-actions
{
	position: absolute;
	top: 2px;
	right: 1px;
	padding: 30px;
	color: #ffffff;
}