/* !FOCUSED IMAGES */
/*-----------------------------------------*/
.focuspoint {
	position: relative; /*Any position but static should work*/
	overflow: hidden;
}
.focuspoint img {
	position: absolute;
	left: 0;
	top: 0;
	margin: 0;
	display: block;
	/* fill and maintain aspect ratio */
	width: auto; height: auto;
	min-width: 100%; min-height: 100%;
	max-height: none; max-width: none;
}

.focuspoint-info {
	position: absolute;
	left: 2%;
	top: 2%;
	width: 20%;
	box-shadow: 0px 0px 13px rgba(0,0,0,0.6);
	background: #fff;
	border: 1px solid #fff;
}
.focuspoint-info p {
	font-size: 12px;
	padding: 10px;
	margin: 0;
}
.focuspoint-original {
	position: relative;
}
.focuspoint-original img {
	width: auto;
	height: auto;
	max-width: 100%;
	display: block;
	margin: 0;
}
.focuspoint-original h4 {
	position: absolute;
	left: 0;
	bottom: 15px;
	width: 100%;
	text-align: center;
	margin: 0;
}
.focuspoint-original h4 span {
	font-size: 12px;
	padding: 3px 10px;
	border-radius: 100px;
	background: rgba(0,0,0,0.32);
	color: #fff;
}

.focuspoint-frame1, .focuspoint-frame2, .focuspoint-frame3, .focuspoint-frame4, .focuspoint-frame5, .focuspoint-frame6, .focuspoint-frame7, .focuspoint-frame8, .focuspoint-frame9 {
	position: absolute;
	overflow: hidden;
	border: 5px solid #fff;
	margin: -5px 0 0 -5px;
}
.focuspoint-frame1, .focuspoint-frame4, .focuspoint-frame7 {
	width: 66.6666667%;
	left: 0;
}
.focuspoint-frame2, .focuspoint-frame5, .focuspoint-frame8 {
	width: 22.2222222%;
	left: 66.6666667%;
}
.focuspoint-frame3, .focuspoint-frame6, .focuspoint-frame9 {
	width: 11.1111111%;
	left: 88.8888889%;
}
.focuspoint-frame1, .focuspoint-frame2, .focuspoint-frame3 {
	height: 66.6666667%;
	top: 0;
}
.focuspoint-frame4, .focuspoint-frame5, .focuspoint-frame6 {
	height: 22.2222222%;
	top: 66.6666667%;
}
.focuspoint-frame7, .focuspoint-frame8, .focuspoint-frame9 {
	height: 11.1111111%;
	top: 88.8888889%;
}

/* !HELPER TOOL GUI */
/*-----------------------------------------*/
.focuspoint-info {
	width:320px;
}
.focuspoint-info .helper-tool p {
	font-weight: bold;
	padding: 0;
	margin: 0 0 5px;
}
.helper-tool, .helper-tool * {
	box-sizing:border-box;
}
.helper-tool {
	padding:12px;
	border:1px solid #fcfcfc;
}
.helper-tool input {
	position:relative;
	width:100%;
}

/* !HELPER TOOL TARGETING SYSTEM */
.focuspoint img {
	transition: all 500ms ease-in-out;
	-webkit-transition: all 500ms ease-in-out;
	-moz-transition: all 500ms ease-in-out;
}

/* !HELPER TOOL TARGETING SYSTEM */
.helper-tool-target {
	position: relative;
	width: 300px;
	overflow: hidden;
	margin-bottom:1em;
	max-height: 180px;
}
.helper-tool-target img {
	display: block;
	max-width: 100%;
	height:auto;
	max-height: 180px;
}
.helper-tool-target img.target-overlay, .helper-tool-target img.reticle {
	position: absolute;
	top: 0;
	left: 0;
}
.helper-tool-target img.target-overlay {
	cursor:pointer;
	opacity: 0.01;
}
.helper-tool-target img.reticle {
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	top:50%;
	left:50%;
	transition: all 500ms ease-in-out;
	-webkit-transition: all 500ms ease-in-out;
	-moz-transition: all 500ms ease-in-out;
}
